// App global style in SCSS format
code {
  color: black;
  background-color: #dddddd;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 3px;
}

.file-status-staged {
  color: #21BA45;
}

.file-status-untracked {
  color: #C10015;
}

.file-status-modified {
  color: #31CCEC;
}

.logo  {
  width: 50px;
  height: 50px;
  margin: 10px;
  background-color: white;
  mask: url(../assets/logo.svg) no-repeat center;
}
 .flex-1 {
   flex: 1;
   height: 100%
 }

.viewer-canvas .viewer-move {
  background-color: white;
}
